.card {
  box-sizing: border-box;
  width: 200px;
  padding: 32px 16px 16px;
  border: 1px solid $border-color;
  border-radius: 5px;

  &__image {
    display: block;
    width: 160px;
    height: 134px;
    margin: 0 3px 40px;
  }

  &__content {
    box-sizing: border-box;
  }

  &__text {
    margin: 0;
    padding: 0;
    color: $main-accent;

    &--review-text {
      font-weight: 400;
      font-size: 10px;
      line-height: 14px;
      letter-spacing: 0%;
    }

    &--product-name {
      font-weight: 500;
      font-size: 12px;
      line-height: 18px;
      letter-spacing: 0%;
    }

    &--product-code {
      font-weight: 400;
      margin-top: 4px;
      font-size: 10px;
      line-height: 14px;
      letter-spacing: 0%;
      color: $secondary;
    }

    &--price-label {
      font-weight: 400;
      font-size: 12px;
      line-height: 18px;
      letter-spacing: 0%;
      color: $secondary;
    }

    &--price-value {
      font-weight: 700;
      font-size: 16px;
      line-height: 18px;
      letter-spacing: 0%;
    }
  }

  &__review {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    margin-top: 16px;
  }

  &__price {
    margin-top: 24px;
    display: flex;
    justify-content: space-between;
  }

  &__button {
    box-sizing: border-box;
    margin-top: 16px;
    display: flex;
    width: 100%;
    height: 40px;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: 1px solid $button-color;

    background-color: $button-color;

    color: $white;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0%;
    text-transform: uppercase;
    text-decoration: none;

    &:hover {
      background-color: $white;
      color: $button-color;
    }
  }
}
